In [2]:
try:
    n = int(input("Enter any number: "))
except ValueError:
    print("Enter valid number")
else:
    if n<0:
        print("Enter positive integers")
    else:
        fact = 1
        i = 2
        while i<=n:
            fact *= i
            i += 1
        print("the factorial of", n, "is:", fact)

Enter any number:  12

the factorial of 12 is: 479001600

In [5]:
try:
    n = int(input("Enter any number: "))
except ValueError:
    print("Enter valid number")
else:
    if n<0:
        print("Enter positive integers")
    else:
        fact = 1
        for i in range(2, n+1):
            fact *= i
        print("the factorial of", n, "is:", fact)

Enter any number:  5

the factorial of 5 is: 120

In [7]:
def factorial(n: int) -> int:
    if not isinstance(n, int):
        raise TypeError("n must be an int")
    if n < 0:
        raise ValueError("n must be >= 0")
    fact = 1
    i = 2
    while i <= n:
        fact *= i
        i += 1
    return fact

# tests
for t in [5, 0, 1]:
    print(t, factorial(t))

try:
    factorial(-3)
except ValueError as e:
    print("error:", e)

5 120
0 1
1 1
error: n must be >= 0

In [11]:
import re
def is_palindrome(s: str) -> bool:
    t = re.sub(r'[^0-9a-zA-Z]','',s).lower()
    return t == t[::-1]

for c in ["A man, a plan, a canal: Panama", "racecar", "hello", "123a321", ""]:
    print(repr(c), "->", is_palindrome(c))

'A man, a plan, a canal: Panama' -> True
'racecar' -> True
'hello' -> False
'123a321' -> True
'' -> True

In [ ]:
def is_palindrome(s: str) -> bool:
    t = ''.join(ch.lower() for ch in s if ch.isalnum())
    return t == t[::-1]

In [12]:
def is_palindrome(s: str) -> bool:
    t = ''.join(ch.lower() for ch in s if ch.isalnum())
    return t == t[::-1]

for c in ["A man, a plan, a canal: Panama", "racecar", "hello", "123a321", ""]:
    print(repr(c), "->", is_palindrome(c))

'A man, a plan, a canal: Panama' -> True
'racecar' -> True
'hello' -> False
'123a321' -> True
'' -> True

In [13]:
s = "hi\nbye"
print(str(s))   # hi
                # bye
print(repr(s))  # 'hi\nbye'

hi
bye
'hi\nbye'

In [15]:
import re
from collections import Counter
def are_anagrams(a: str, b: str) -> bool:
    t1 = re.sub(r'[^0-9a-zA-Z]','',a).lower()
    t2 = re.sub(r'[^0-9a-zA-Z]','',b).lower()
    if len(t1) != len(t2):
        return false
    return Counter(t1) == Counter(t2)
# tests
pairs = [
    ("listen", "silent"),
    ("Debit card", "Bad credit"),
    ("Astronomer", "Moon starer"),
    ("hello", "olelh"),
    ("apple", "papel"),
    ("rat", "car"),
    ("", "")
]
for x,y in pairs:
    print(repr(x), " ", repr(y), " ", are_anagrams(x,y))

'listen'   'silent'   True
'Debit card'   'Bad credit'   True
'Astronomer'   'Moon starer'   True
'hello'   'olelh'   True
'apple'   'papel'   True
'rat'   'car'   False
''   ''   True

In [19]:
line = input("numbers: ")
try:
    nums = [float(x) for x in line.split()]
except ValueError:
    print("Enter only numbers")
else:
    if not nums:
        print("no data")
    else:
        total = sum(nums)
        count = len(nums)
        mn = min(nums)
        mx = max(nums)
        mean = total / count
        print("count:", count)
        print("sum:", total)
        print("min:", mn)
        print("max:", mx)
        print("mean:", round(mean, 2))
        print(type(nums), type(line))

numbers:  12.5 13.9 15.8 17.1

count: 4
sum: 59.300000000000004
min: 12.5
max: 17.1
mean: 14.83
<class 'list'> <class 'str'>

In [21]:
a = "kalluri"
b = "Venkatesh"
a.lower()
b.lower()
c = a + " " + b
print(c)

kalluri Venkatesh

In [26]:
scores = [88, 92, 75, 100, 64]
print(scores[3])

100

In [33]:
participants = ["Tom", "Jerry", "Spike"]
participants[2] = "Butch"
participants.append("Tyke")
print(participants)
for name in participants:
    if name == "Jerry":
        print("Special greetings to, Jerry")
    else:
        print("Hello," +name)

['Tom', 'Jerry', 'Butch', 'Tyke']
Hello,Tom
Special greetings to, Jerry
Hello,Butch
Hello,Tyke

In [30]:
from collections import Counter

line = input("items: ")
tokens = [tok.lower() for tok in line.split()]
if not tokens:
    print("no data")
else:
    freq = Counter(tokens)
    for k, v in sorted(freq.items(), key=lambda kv: (-kv[1], kv[0])):
        print(k, v)

items:  Apple apple banana BANANA kiwi apple

apple 3
banana 2
kiwi 1

In [6]:
def squares(n= 10):
    print(f'Generating squares from 1 to {n**2}')
    for i in range(1, n+1):
        yield i**2

In [10]:
gen = squares()
gen

In [11]:
for x in gen:
    print(x, end = '  ')

Generating squares from 1 to 100
1  4  9  16  25  36  49  64  81  100

In [35]:
sum(x**2 for x in range(100))

328350

In [39]:
dict((i, i**2) for i in range(1,5))

{1: 1, 2: 4, 3: 9, 4: 16}

In [55]:

import itertools
def first_letter(x):
    return x[0]
    
    

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [62]:
names.sort(key = first_letter)
list_by_letter = {}
for letter, group in itertools.groupby(names, first_letter):
    list_by_letter[letter] = list(group)

list_by_letter

{'A': ['Alan', 'Adam', 'Albert'], 'S': ['Steven'], 'W': ['Wes', 'Will']}

In [63]:
float('1.2345')

1.2345

In [64]:
float('something')

ValueError: could not convert string to float: 'something'

In [80]:
def attempt_float(x):
    try:
        
        return float(x)
    except (ValueError, TypeError):
        return x

In [81]:
attempt_float('1.2345')

1.2345

In [82]:
attempt_float('somehting')

'somehting'

In [83]:
attempt_float((1,2))

(1, 2)

In [91]:
path = "C:\\Users\\KALLURI VENKATESH\\segismundo.txt"

In [92]:
f = open(path, encoding = 'utf-8')

In [93]:
for line in f:
    print(line)

Sueña el rey que es rey, y vive

con este engaño mandando,

disponiendo y gobernando;

y este aplauso, que recibe

prestado, en el viento escribe,

y en cenizas le convierte

la muerte (¡desdicha fuerte!):

que hay quien intente reinar

viendo que ha de despertar

en el sueño de la muerte.



— Pedro Calderón de la Barca, "La vida es sueño"

In [94]:
f.close()

In [95]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [96]:
f = open(path, encoding = 'utf-8')

In [97]:
for lines in f:
    print(lines)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [99]:
line = [x.rstrip() for x in open(path,encoding = 'utf-8')]
line

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [100]:
f.close()

In [103]:
with open(path, encoding = 'utf-8') as f:
    lines = [x.strip() for x in f]

In [104]:
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [105]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [106]:
f1 = open(path, encoding = 'utf-8')

In [107]:
f1.read(10)

'Sueña el r'

In [108]:
f2 = open(path, mode = 'rb')

In [109]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [111]:
f1.tell()

11

In [112]:
f1.tell()

11

In [113]:
f2.tell()

10

In [114]:
import sys
sys.getdefaultencoding()

'utf-8'

In [116]:
f1.seek(3)

3

In [119]:
f1.read(1)

'ñ'

In [120]:
f1.tell()

5

In [121]:
f1.close()
f2.close()

In [122]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [123]:
with open('tmp.txt', mode = 'w') as handle:
    handle.writelines(x for x in open(path) if len(x)>1)

In [124]:
with open('tmp.txt') as f:
    lines = f.readlines()

lines

['SueÃ±a el rico en su riqueza,\n',
 'que mÃ¡s cuidados le ofrece;\n',
 'sueÃ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueÃ±a el que a medrar empieza,\n',
 'sueÃ±a el que afana y pretende,\n',
 'sueÃ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiÃ³n,\n',
 'todos sueÃ±an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [125]:
for lines in handle:
    print(lines)

ValueError: I/O operation on closed file.

In [126]:
path = r'C:\Users\KALLURI VENKATESH\tmp.txt'

In [128]:
f3 = open(path, encoding = 'utf-8')
for lines in f3:
    print(lines)

Sueña el rico en su riqueza,

que más cuidados le ofrece;

sueña el pobre que padece

su miseria y su pobreza;

sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,

y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [129]:
f3.close()

In [130]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [131]:
with open('tmp1.txt', mode = 'w') as handle:
    handle.writelines(x for x in open(path) if len(x)>1)

with open('tmp1.txt') as f:
    lines = f.readlines()

In [132]:
lines

['SueÃ±a el rico en su riqueza,\n',
 'que mÃ¡s cuidados le ofrece;\n',
 'sueÃ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueÃ±a el que a medrar empieza,\n',
 'sueÃ±a el que afana y pretende,\n',
 'sueÃ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiÃ³n,\n',
 'todos sueÃ±an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [135]:
f.close()

In [136]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [137]:
with open(path) as f:
    chars = f.read(10)

chars

'SueÃ±a el '

In [138]:
len(chars)

10

In [140]:
f.close()

In [141]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [146]:
with open(path, mode = 'rb') as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [147]:
data.decode('utf-8')

'Sueña el '

In [148]:
data[:4].decode('utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [149]:
str_spl = 'venkatesh'
c = str_spl[:4]
c

'venk'

In [158]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))

def calc_tw(x,y):
    print(f'{x+y},{x-y}, {x*y}, {x//y}')

calc_tw(a,b)

Enter the first number 9
Enter the second number 2

11,7, 18, 4

In [159]:
path = "C:\\Users\\KALLURI VENKATESH\\segismundo.txt"

In [160]:
print(f'10 EUR is worth $11.02')

10 EUR is worth $11.02

In [175]:
names = ["anU", "mEgha", "arun", "zoe"]
names.sort()
names

['anU', 'arun', 'mEgha', 'zoe']

In [176]:
names = [name.title() for name in names]
print(names)

['Anu', 'Arun', 'Megha', 'Zoe']

In [177]:
sorted_names = sorted(names, key = lambda x: len(x))
sorted_names

['Anu', 'Zoe', 'Arun', 'Megha']

In [178]:
names

['Anu', 'Arun', 'Megha', 'Zoe']

In [188]:
subjects = [
    "Math",
    "Physics",
    "Chemistry",
    "Biology",
    "English",
    "History",
    "Geography",
    "Computer Science"
]

marks = [92, 88, 75, 81, 95, 67, 73, 89, 90]


zipped = zip(subjects, marks)
for key, values in list(zipped):
    print(f'{key} - {values}')

Math - 92
Physics - 88
Chemistry - 75
Biology - 81
English - 95
History - 67
Geography - 73
Computer Science - 89

In [193]:
marks_dict = {key: values for key,values in enumerate(zip(subjects, marks))}
marks_dict

{0: ('Math', 92),
 1: ('Physics', 88),
 2: ('Chemistry', 75),
 3: ('Biology', 81),
 4: ('English', 95),
 5: ('History', 67),
 6: ('Geography', 73),
 7: ('Computer Science', 89)}

In [196]:
mar_dict = {subject: mark for subject, mark in zip(subjects, marks)}
mar_dict

{'Math': 92,
 'Physics': 88,
 'Chemistry': 75,
 'Biology': 81,
 'English': 95,
 'History': 67,
 'Geography': 73,
 'Computer Science': 89}

In [197]:
c =list(zip(subjects, marks))
c

[('Math', 92),
 ('Physics', 88),
 ('Chemistry', 75),
 ('Biology', 81),
 ('English', 95),
 ('History', 67),
 ('Geography', 73),
 ('Computer Science', 89)]

In [200]:
sub = []
for subject, score in c:
    sub.append(subject)
sub

['Math',
 'Physics',
 'Chemistry',
 'Biology',
 'English',
 'History',
 'Geography',
 'Computer Science']

In [211]:
words = ["aa", "book", "to", "APPLE", "data"]

In [212]:
upper_w = [values.upper() for values in words if len(values)>2]
upper_w

['BOOK', 'APPLE', 'DATA']

In [213]:
length_w = [len(values) for values in words]
length_w

[2, 4, 2, 5, 4]

In [216]:
v_w = [values for values in words if values[0].lower() in ('a','e','i','o','u')]
v_w

['aa', 'APPLE']

In [217]:
words = [
    # fruits & foods
    "apple","banana","cherry","date","elderberry","fig","grape","honeydew","kiwi","lemon",
    "mango","nectarine","orange","papaya","quince","raspberry","strawberry","tangerine","ugli",
    "vanilla","watermelon","xigua","yam","zucchini","apricot","blueberry","cranberry","durian",
    "guava","banana","apple","mulberry","olive","pear","plum","pomegranate","jackfruit","lychee",

    # animals
    "ant","bear","cat","dog","elephant","fox","goat","horse","iguana","jaguar","koala","lion",
    "monkey","narwhal","otter","panda","quokka","rabbit","sheep","tiger","urchin","vulture",
    "wolf","xerus","yak","zebra","buffalo","chameleon","dolphin","eagle","falcon","giraffe",

    # verbs & actions
    "analyze","build","compute","debug","explore","filter","group","hash","index","join","knit",
    "learn","measure","normalize","optimize","parse","query","reduce","sort","transform","update",
    "visualize","write","aggregate","benchmark","clean","deduplicate","encode","factorize","generate",
    "hydrate","impute","iterate","marshal","negate","pivot","quantize","reshape","sample","tokenize",
    "unstack","vectorize","window","zip",

    # tech & data lingo
    "array","boolean","cache","database","encryption","function","generator","hashmap","iterator",
    "json","kernel","library","module","notebook","object","package","queue","recursion","schema",
    "tuple","unicode","version","workflow","xml","yaml","zipfile","pytorch","tensorflow","pandas",
    "numpy","scikit","matplotlib","semaphore","synchronization","thread","process","endpoint",
    "microservice","container","orchestrator","kubernetes","docker","git","commit","branch","merge",
    "rebase","rollback","deploy","monitoring","logging","profiling","latency","throughput",

    # places & misc nouns
    "academy","bridge","castle","desert","estuary","forest","glacier","harbor","island","jungle",
    "kingdom","lagoon","mountain","nebula","ocean","peninsula","quarry","river","savanna","temple",
    "universe","village","waterfall","xerophyte","yurt","zenith","stadium","library","museum",
    "observatory","laboratory","campus","market","airport","station","highway","garden","theater",

    # adjectives & descriptors
    "agile","brisk","clever","daring","elegant","fragile","gentle","humble","intricate","jovial",
    "kinetic","lucid","mellow","nimble","ornate","prudent","quirky","robust","succinct","tenacious",
    "uniform","vivid","whimsical","xenial","yielding","zealous","ancient","modern","hybrid","sparse",

    # shorties & duplicates for variety
    "a","i","an","as","at","be","by","do","go","if","in","is","it","of","on","or","to","up","we",
    "data","data","python","python","code","code","model","model",

    # long bois for length variety
    "electromagnetism","characterization","internationalization","microarchitecture",
    "biostatistics","hyperparameter","counterintuitive","mischaracterization"
]

In [220]:
un_l = {len(values) for values in words}
un_l

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20}

In [221]:
dict_w = {x: len(x) for x in words}
dict_w

{'apple': 5,
 'banana': 6,
 'cherry': 6,
 'date': 4,
 'elderberry': 10,
 'fig': 3,
 'grape': 5,
 'honeydew': 8,
 'kiwi': 4,
 'lemon': 5,
 'mango': 5,
 'nectarine': 9,
 'orange': 6,
 'papaya': 6,
 'quince': 6,
 'raspberry': 9,
 'strawberry': 10,
 'tangerine': 9,
 'ugli': 4,
 'vanilla': 7,
 'watermelon': 10,
 'xigua': 5,
 'yam': 3,
 'zucchini': 8,
 'apricot': 7,
 'blueberry': 9,
 'cranberry': 9,
 'durian': 6,
 'guava': 5,
 'mulberry': 8,
 'olive': 5,
 'pear': 4,
 'plum': 4,
 'pomegranate': 11,
 'jackfruit': 9,
 'lychee': 6,
 'ant': 3,
 'bear': 4,
 'cat': 3,
 'dog': 3,
 'elephant': 8,
 'fox': 3,
 'goat': 4,
 'horse': 5,
 'iguana': 6,
 'jaguar': 6,
 'koala': 5,
 'lion': 4,
 'monkey': 6,
 'narwhal': 7,
 'otter': 5,
 'panda': 5,
 'quokka': 6,
 'rabbit': 6,
 'sheep': 5,
 'tiger': 5,
 'urchin': 6,
 'vulture': 7,
 'wolf': 4,
 'xerus': 5,
 'yak': 3,
 'zebra': 5,
 'buffalo': 7,
 'chameleon': 9,
 'dolphin': 7,
 'eagle': 5,
 'falcon': 6,
 'giraffe': 7,
 'analyze': 7,
 'build': 5,
 'compute': 7,
 'debug': 5,
 'explore': 7,
 'filter': 6,
 'group': 5,
 'hash': 4,
 'index': 5,
 'join': 4,
 'knit': 4,
 'learn': 5,
 'measure': 7,
 'normalize': 9,
 'optimize': 8,
 'parse': 5,
 'query': 5,
 'reduce': 6,
 'sort': 4,
 'transform': 9,
 'update': 6,
 'visualize': 9,
 'write': 5,
 'aggregate': 9,
 'benchmark': 9,
 'clean': 5,
 'deduplicate': 11,
 'encode': 6,
 'factorize': 9,
 'generate': 8,
 'hydrate': 7,
 'impute': 6,
 'iterate': 7,
 'marshal': 7,
 'negate': 6,
 'pivot': 5,
 'quantize': 8,
 'reshape': 7,
 'sample': 6,
 'tokenize': 8,
 'unstack': 7,
 'vectorize': 9,
 'window': 6,
 'zip': 3,
 'array': 5,
 'boolean': 7,
 'cache': 5,
 'database': 8,
 'encryption': 10,
 'function': 8,
 'generator': 9,
 'hashmap': 7,
 'iterator': 8,
 'json': 4,
 'kernel': 6,
 'library': 7,
 'module': 6,
 'notebook': 8,
 'object': 6,
 'package': 7,
 'queue': 5,
 'recursion': 9,
 'schema': 6,
 'tuple': 5,
 'unicode': 7,
 'version': 7,
 'workflow': 8,
 'xml': 3,
 'yaml': 4,
 'zipfile': 7,
 'pytorch': 7,
 'tensorflow': 10,
 'pandas': 6,
 'numpy': 5,
 'scikit': 6,
 'matplotlib': 10,
 'semaphore': 9,
 'synchronization': 15,
 'thread': 6,
 'process': 7,
 'endpoint': 8,
 'microservice': 12,
 'container': 9,
 'orchestrator': 12,
 'kubernetes': 10,
 'docker': 6,
 'git': 3,
 'commit': 6,
 'branch': 6,
 'merge': 5,
 'rebase': 6,
 'rollback': 8,
 'deploy': 6,
 'monitoring': 10,
 'logging': 7,
 'profiling': 9,
 'latency': 7,
 'throughput': 10,
 'academy': 7,
 'bridge': 6,
 'castle': 6,
 'desert': 6,
 'estuary': 7,
 'forest': 6,
 'glacier': 7,
 'harbor': 6,
 'island': 6,
 'jungle': 6,
 'kingdom': 7,
 'lagoon': 6,
 'mountain': 8,
 'nebula': 6,
 'ocean': 5,
 'peninsula': 9,
 'quarry': 6,
 'river': 5,
 'savanna': 7,
 'temple': 6,
 'universe': 8,
 'village': 7,
 'waterfall': 9,
 'xerophyte': 9,
 'yurt': 4,
 'zenith': 6,
 'stadium': 7,
 'museum': 6,
 'observatory': 11,
 'laboratory': 10,
 'campus': 6,
 'market': 6,
 'airport': 7,
 'station': 7,
 'highway': 7,
 'garden': 6,
 'theater': 7,
 'agile': 5,
 'brisk': 5,
 'clever': 6,
 'daring': 6,
 'elegant': 7,
 'fragile': 7,
 'gentle': 6,
 'humble': 6,
 'intricate': 9,
 'jovial': 6,
 'kinetic': 7,
 'lucid': 5,
 'mellow': 6,
 'nimble': 6,
 'ornate': 6,
 'prudent': 7,
 'quirky': 6,
 'robust': 6,
 'succinct': 8,
 'tenacious': 9,
 'uniform': 7,
 'vivid': 5,
 'whimsical': 9,
 'xenial': 6,
 'yielding': 8,
 'zealous': 7,
 'ancient': 7,
 'modern': 6,
 'hybrid': 6,
 'sparse': 6,
 'a': 1,
 'i': 1,
 'an': 2,
 'as': 2,
 'at': 2,
 'be': 2,
 'by': 2,
 'do': 2,
 'go': 2,
 'if': 2,
 'in': 2,
 'is': 2,
 'it': 2,
 'of': 2,
 'on': 2,
 'or': 2,
 'to': 2,
 'up': 2,
 'we': 2,
 'data': 4,
 'python': 6,
 'code': 4,
 'model': 5,
 'electromagnetism': 16,
 'characterization': 16,
 'internationalization': 20,
 'microarchitecture': 17,
 'biostatistics': 13,
 'hyperparameter': 14,
 'counterintuitive': 16,
 'mischaracterization': 19}

In [226]:
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

by_letter

{'a': ['apple',
  'apricot',
  'apple',
  'ant',
  'analyze',
  'aggregate',
  'array',
  'academy',
  'airport',
  'agile',
  'ancient',
  'a',
  'an',
  'as',
  'at'],
 'b': ['banana',
  'blueberry',
  'banana',
  'bear',
  'buffalo',
  'build',
  'benchmark',
  'boolean',
  'branch',
  'bridge',
  'brisk',
  'be',
  'by',
  'biostatistics'],
 'c': ['cherry',
  'cranberry',
  'cat',
  'chameleon',
  'compute',
  'clean',
  'cache',
  'container',
  'commit',
  'castle',
  'campus',
  'clever',
  'code',
  'code',
  'characterization',
  'counterintuitive'],
 'd': ['date',
  'durian',
  'dog',
  'dolphin',
  'debug',
  'deduplicate',
  'database',
  'docker',
  'deploy',
  'desert',
  'daring',
  'do',
  'data',
  'data'],
 'e': ['elderberry',
  'elephant',
  'eagle',
  'explore',
  'encode',
  'encryption',
  'endpoint',
  'estuary',
  'elegant',
  'electromagnetism'],
 'f': ['fig',
  'fox',
  'falcon',
  'filter',
  'factorize',
  'function',
  'forest',
  'fragile'],
 'g': ['grape',
  'guava',
  'goat',
  'giraffe',
  'group',
  'generate',
  'generator',
  'git',
  'glacier',
  'garden',
  'gentle',
  'go'],
 'h': ['honeydew',
  'horse',
  'hash',
  'hydrate',
  'hashmap',
  'harbor',
  'highway',
  'humble',
  'hybrid',
  'hyperparameter'],
 'k': ['kiwi', 'koala', 'knit', 'kernel', 'kubernetes', 'kingdom', 'kinetic'],
 'l': ['lemon',
  'lychee',
  'lion',
  'learn',
  'library',
  'logging',
  'latency',
  'lagoon',
  'library',
  'laboratory',
  'lucid'],
 'm': ['mango',
  'mulberry',
  'monkey',
  'measure',
  'marshal',
  'module',
  'matplotlib',
  'microservice',
  'merge',
  'monitoring',
  'mountain',
  'museum',
  'market',
  'mellow',
  'modern',
  'model',
  'model',
  'microarchitecture',
  'mischaracterization'],
 'n': ['nectarine',
  'narwhal',
  'normalize',
  'negate',
  'notebook',
  'numpy',
  'nebula',
  'nimble'],
 'o': ['orange',
  'olive',
  'otter',
  'optimize',
  'object',
  'orchestrator',
  'ocean',
  'observatory',
  'ornate',
  'of',
  'on',
  'or'],
 'p': ['papaya',
  'pear',
  'plum',
  'pomegranate',
  'panda',
  'parse',
  'pivot',
  'package',
  'pytorch',
  'pandas',
  'process',
  'profiling',
  'peninsula',
  'prudent',
  'python',
  'python'],
 'q': ['quince', 'quokka', 'query', 'quantize', 'queue', 'quarry', 'quirky'],
 'r': ['raspberry',
  'rabbit',
  'reduce',
  'reshape',
  'recursion',
  'rebase',
  'rollback',
  'river',
  'robust'],
 's': ['strawberry',
  'sheep',
  'sort',
  'sample',
  'schema',
  'scikit',
  'semaphore',
  'synchronization',
  'savanna',
  'stadium',
  'station',
  'succinct',
  'sparse'],
 't': ['tangerine',
  'tiger',
  'transform',
  'tokenize',
  'tuple',
  'tensorflow',
  'thread',
  'throughput',
  'temple',
  'theater',
  'tenacious',
  'to'],
 'u': ['ugli',
  'urchin',
  'update',
  'unstack',
  'unicode',
  'universe',
  'uniform',
  'up'],
 'v': ['vanilla',
  'vulture',
  'visualize',
  'vectorize',
  'version',
  'village',
  'vivid'],
 'w': ['watermelon',
  'wolf',
  'write',
  'window',
  'workflow',
  'waterfall',
  'whimsical',
  'we'],
 'x': ['xigua', 'xerus', 'xml', 'xerophyte', 'xenial'],
 'y': ['yam', 'yak', 'yaml', 'yurt', 'yielding'],
 'z': ['zucchini', 'zebra', 'zip', 'zipfile', 'zenith', 'zealous'],
 'j': ['jackfruit', 'jaguar', 'join', 'json', 'jungle', 'jovial'],
 'i': ['iguana',
  'index',
  'impute',
  'iterate',
  'iterator',
  'island',
  'intricate',
  'i',
  'if',
  'in',
  'is',
  'it',
  'internationalization']}

In [227]:
b in by_letter

False

In [238]:
nums = [(1,2,3), (4,5,6), (7,8,9)]
flattened = (x for tup in nums for x in tup if x%2 == 0)
list(flattened)

[2, 4, 6, 8]

In [243]:
all_data = [
    # English
    [
        "John","Emily","Michael","Mary","Steven","Olivia","Liam","Sophia","Noah","Ava",
        "Isabella","Mason","Mia","Ethan","Amelia","Harper","Logan","Abigail","Charlotte","James",
        "Benjamin","Elijah","Emma","Lucas","Daniel","Hannah","Savannah","Aaron","Annabelle","Alexandra"
    ],
    # Spanish
    [
        "María","Juan","Javier","Natalia","Pilar","José","Lucía","Sofía","Andrés","Diego",
        "Pablo","Carlos","Ana","Elena","Carmen","Raúl","Pedro","Marta","Rosa","Luis",
        "Miguel","Beatriz","Nuria","Iñigo","Álvaro","Rocío","Joaquín","Valeria","Camila","Aitana"
    ]
]

nested_list = (words for word in all_data for words in word if words.strip().lower().count('a')>=2)
c = list(nested_list)
print(c)

['Ava', 'Isabella', 'Amelia', 'Abigail', 'Hannah', 'Savannah', 'Aaron', 'Annabelle', 'Alexandra', 'María', 'Natalia', 'Ana', 'Marta', 'Valeria', 'Camila', 'Aitana']

In [2]:
all_data = [
    # English
    [
        "John","Emily","Michael","Mary","Steven","Olivia","Liam","Sophia","Noah","Ava",
        "Isabella","Mason","Mia","Ethan","Amelia","Harper","Logan","Abigail","Charlotte","James",
        "Benjamin","Elijah","Emma","Lucas","Daniel","Hannah","Savannah","Aaron","Annabelle","Alexandra"
    ],
    # Spanish
    [
        "María","Juan","Javier","Natalia","Pilar","José","Lucía","Sofía","Andrés","Diego",
        "Pablo","Carlos","Ana","Elena","Carmen","Raúl","Pedro","Marta","Rosa","Luis",
        "Miguel","Beatriz","Nuria","Iñigo","Álvaro","Rocío","Joaquín","Valeria","Camila","Aitana"
    ]
]
a_list = []
for word in all_data:
    for words in word:
        if words.strip().lower().count('a')>=2:
            a_list.append(words)


a_list

['Ava',
 'Isabella',
 'Amelia',
 'Abigail',
 'Hannah',
 'Savannah',
 'Aaron',
 'Annabelle',
 'Alexandra',
 'María',
 'Natalia',
 'Ana',
 'Marta',
 'Valeria',
 'Camila',
 'Aitana']

In [4]:
def clamp(x, lo = 0, hi = 1):
    if x<lo:
        return lo
    elif x>hi:
        return 'High'
    else:
        return x

clamp(4)

'High'

In [9]:
def clamp(x, lo = 0, hi = 1):
    if x<lo:
        return lo
    elif x>hi:
        return 'High'
    else:
        return x


clamp(5, 2, 8)

5

In [7]:
tax_details = {}

def tax(amount, rate = 0.18):
    tax = amount*rate
    total = amount + tax
    tax_details = {
        'amount': amount,
        'tax': tax,
        'total': total
    }
    
    return tax_details



tax(100, 0.15)

{'amount': 100, 'tax': 15.0, 'total': 115.0}

In [67]:
tax_details = {}

def tax(amount, rate = 0.18):
    tax = amount*rate
    total = amount + tax
    tax_details = {
        'amount': amount,
        'tax': tax,
        'total': total
    }
    
    return tax_details

tax(200)

{'amount': 200, 'tax': 36.0, 'total': 236.0}

In [21]:
def hello_name(name):
    print("Hello", name)

hello_name('Venky')
result = hello_name('Vishal')
print(result)

Hello Venky
Hello Vishal
None

In [22]:
def get_student_scores():
    math = 92
    science = 84
    bio = 77
    return math, science, bio

In [23]:
m,s,b = get_student_scores()
print('mathematics', m)
print('Science', s)
print('Biology', b)

mathematics 92
Science 84
Biology 77

In [31]:
def make_multiplier(k):
    def multiplier(x):
        return x*k
    return multiplier

times2 = make_multiplier(2)
times5 = make_multiplier(5)

In [33]:
print(times2(5))
print(times5(5))

10
25

In [36]:
def rais_power(y):
    def power(x):
        return x**y
    return power

p2 = rais_power(2)
p4 = rais_power(4)

print(p2(3))

print(p4(5))

9
625

In [37]:
path = r'C:\Users\KALLURI VENKATESH\segismundo.txt'

In [41]:
f = open(path, encoding = 'utf-8')
for lines in f:
    print(lines)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

AttributeError: 'int' object has no attribute 'strip'

In [45]:
lines = [x.strip() for x in open(path, encoding = 'utf-8')]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [46]:
f.close()

In [51]:
with open(path, encoding = 'utf-8') as f:
    lines = [x.rstrip() for x in f]

SyntaxError: 'return' outside function (2043251667.py, line 3)

In [52]:
def open_file(path):
    with open(path, encoding= 'utf-8') as f:
        lines = [x.rstrip() for x in f]

    return lines

open_file(r'C:\Users\KALLURI VENKATESH\segismundo.txt')

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.']

In [54]:
with open('tmp.txt', mode = 'w') as handle:
    handle.writelines(x for x in open(path) if len(x)>1)

with open('tmp.txt') as f:
    lines = f.readlines()
lines

['SueÃ±a el rico en su riqueza,\n',
 'que mÃ¡s cuidados le ofrece;\n',
 'sueÃ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueÃ±a el que a medrar empieza,\n',
 'sueÃ±a el que afana y pretende,\n',
 'sueÃ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiÃ³n,\n',
 'todos sueÃ±an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [64]:
path = r'C:\Users\KALLURI VENKATESH\Desktop\ChkDsk_last.txt'

with open('tmp1.txt', mode = 'w') as handle:
    handle.writelines(x for x in open(path)if len(x)>1)

with open('tmp1.txt') as f:
    lines = [x.rstrip() for x in f]

lines

['Checking file system on C:',
 'The type of the file system is NTFS.',
 'Volume label is OS.',
 'A disk check has been scheduled.',
 'Windows will now check the disk.',
 'Stage 1: Examining basic file system structure ...',
 'Cleaning up instance tags for file 0xd6d46.',
 'Cleaning up instance tags for file 0xef862.',
 '  1871616 file records processed.',
 'File verification completed.',
 ' Phase duration (File record verification): 28.86 seconds.',
 '  46515 large file records processed.',
 ' Phase duration (Orphan file record recovery): 14.23 milliseconds.',
 '  0 bad file records processed.',
 ' Phase duration (Bad file record checking): 1.24 milliseconds.',
 'Stage 2: Examining file name linkage ...',
 '  2267 reparse records processed.',
 '  2364564 index entries processed.',
 'Index verification completed.',
 ' Phase duration (Index verification): 1.69 minutes.',
 '  0 unindexed files scanned.',
 ' Phase duration (Orphan reconnection): 30.15 seconds.',
 '  0 unindexed files recovered to lost and found.',
 ' Phase duration (Orphan recovery to lost and found): 8.23 seconds.',
 '  2267 reparse records processed.',
 ' Phase duration (Reparse point and Object ID verification): 639.89 milliseconds.',
 'Stage 3: Examining security descriptors ...',
 'Cleaning up 3991 unused index entries from index $SII of file 0x9.',
 'Cleaning up 3991 unused index entries from index $SDH of file 0x9.',
 'Cleaning up 3991 unused security descriptors.',
 'Security descriptor verification completed.',
 ' Phase duration (Security descriptor verification): 165.66 milliseconds.',
 '  246475 data files processed.',
 ' Phase duration (Data attribute verification): 1.58 milliseconds.',
 'CHKDSK is verifying Usn Journal...',
 'Usn Journal verification completed.',
 'Stage 4: Looking for bad clusters in user file data ...',
 '  1871600 files processed.',
 'File data verification completed.',
 ' Phase duration (User file recovery): 17.52 minutes.',
 'Stage 5: Looking for bad, free clusters ...',
 '  65236569 free clusters processed.',
 'Free space verification is complete.',
 ' Phase duration (Free space recovery): 42.19 seconds.',
 'Windows has made corrections to the file system.',
 'No further action is required.',
 ' 475627519 KB total disk space.',
 ' 212081576 KB in 1033950 files.',
 '    625732 KB in 246476 indexes.',
 '         0 KB in bad sectors.',
 '   1973931 KB in use by the system.',
 '     65536 KB occupied by the log file.',
 ' 260946280 KB available on disk.',
 '      4096 bytes in each allocation unit.',
 ' 118906879 total allocation units on disk.',
 '  65236570 allocation units available on disk.',
 'Total duration: 21.06 minutes (1264087 ms).',
 'Internal Info:',
 '00 8f 1c 00 aa 89 13 00 98 5c 22 00 00 00 00 00  .........\\".....',
 '51 03 00 00 8a 05 00 00 00 00 00 00 00 00 00 00  Q...............']

In [96]:
def summarize_iter(*num, op = 'mean'):
    if not num:
        raise ValueError('No numbers provided')

    if op == 'mean':
        return sum(num)/len(num)
    elif op == 'sum':
        return sum(num)
    elif op == 'max':
        return max(num)
    elif op == 'min':
        return min(num)
    elif op == 'multiply':
        prod = 1
        for x in num:
            prod *= x
        return prod
           
                        
    else:
        raise ValueError(f"Unsupported op: {op!r}. Use 'mean' or 'sum'or 'min' or 'max' and 'multiply'.")

summarize_iter(1,2,3,4,5, op = 'multiply')

120

In [87]:
d = {
    "a": 1,
    "b": 2,
    "c_list": [10, 20, 30],
    "total_sales": 125000.50,
    "is_active": True,
    "first_name": "Venky",
    "last_name": "Kalluri"
}

# rename_keys(d, a="alpha", total_sales="revenue", is_active="active", first_name="fname")

3

In [1]:
with open('tmp2.txt', mode = 'w') as handle:
    handle.writelines('["alpha\n","beta\n","gamma\n"]')

In [2]:
with open('tmp2.txt', encoding = 'utf-8') as f:
    lines = [x.rstrip() for x in f]
lines

['["alpha', '","beta', '","gamma', '"]']

In [38]:
products = [
    {"name":"Pen","price":10.0,"qty":3},
    {"name":"Notebook","price":55.0,"qty":2},
    {"name":"Marker","price":35.5,"qty":1},
]
cost = 0
for items in products:
    c = items['price']*items['qty']
    cost += c
print(cost)

175.5

In [79]:
total_cost = 0

for item in products:
    name = item["name"]
    price = item["price"]
    qty = item["qty"]
    cost = item['price']*item['qty']
    total_cost += cost
    print(f' The item {name}\n which costs {price}\n total quantity bought {qty}\n total cost of the item {cost}\n\n')
    print(f' \nThe total bill for all the items is {total_cost}')

c = tax(total_cost)
print(f" --------------- Total amount: {c['amount']}---------------\n --------------- Tax amount: {c['tax']}-------------------\n ----------------Total bill: {c['total']}--------------------")

 The item Pen
 which costs 10.0
 total quantity bought 3
 total cost of the item 30.0



The total bill for all the items is 30.0
 The item Notebook
 which costs 55.0
 total quantity bought 2
 total cost of the item 110.0



The total bill for all the items is 140.0
 The item Marker
 which costs 35.5
 total quantity bought 1
 total cost of the item 35.5



The total bill for all the items is 175.5
 --------------- Total amount: 175.5---------------
 --------------- Tax amount: 31.59-------------------
 ----------------Total bill: 207.09--------------------

In [53]:
def safe_int(x, default = None):
    try:
        if not x:
            print('Enter a valid number')
            return default
        return int(x)
    except ValueError:
        print('Only numeric values allowed')
        return default

In [55]:
safe_int(100)

100

In [65]:
def read_number():
    while True:
        x = input('Enter a number (float allowed):')
        try:
            value = float(x)
            return value
        except ValueError:
            print('Thats not a valid number try again')

num = read_number()
print('You entered the value', num)

Enter a number (float allowed): fghj

Thats not a valid number try again

Enter a number (float allowed): gyhilg

Thats not a valid number try again

Enter a number (float allowed): gyuiog

Thats not a valid number try again

Enter a number (float allowed): 7

You entered the value 7.0